<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TP ENI</title>
<link rel="stylesheet" th:href="@{/css/general.css}">
<link rel="stylesheet" th:href="@{/css/tp-table.css}">
<link rel="icon" th:href="@{/images/logoENI.png}">
</head>
<body>
	<!-- Navbar -->
    <header>
        <h1 id="nav-title">
            <a th:href="@{/}">Filmothèque</a>
        </h1>
        <nav>
            <ul>
                <li><a th:href="@{/films}">Films</a></li>
                <li><a th:href="@{/films/creer}">Creer</a></li>
            </ul>
        </nav>
    </header>
	<main>
		<h1>Les films de l'ENI</h1>
		<table>
			<!-- build html table based on users -->
			<thead>
				<tr>
					<th>Genre</th>
					<th>Année</th>
					<th>Titre</th>
					<th>Réalisateur</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="f : ${films}">
					<td th:text="${f.genre.titre}"></td>
					<td th:text="${f.annee}"></td>
					<td th:text="${f.titre}"></td>
					<td th:text="${f.realisateur.prenom + ' ' + f.realisateur.nom}"></td>
					<td><a th:href="@{/films/detail(id=${f.id})}">Détail</a></td>
				</tr>
			</tbody>
		</table>
	</main>

</body>
</html>
