<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP ENI</title>
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/tp-form.css}">
    <link rel="icon" th:href="@{/images/logoENI.png}">
</head>
<body>
<!-- Navbar -->
<header>
    <h1 id="nav-title">
        <a th:href="@{/}">Filmothèque</a>
    </h1>
    <nav>
        <ul>
            <li><a th:href="@{/films}">Films</a></li>
            <li><a th:href="@{/films/creer}">Creer</a></li>
        </ul>
    </nav>
</header>
<main>
    <th:block th:object="${filmDto}">
        <div style="color: red;" th:if="${#fields.hasErrors('*')}" >
            <p>Des données sont invalides !</p>
        </div>
    <form th:action="@{/films/creer}" method="post">
        <h1>Création d'un film [En cours de construction]</h1>
        <ul class="flex-outer">
            <li>
                <label for="titre">Titre : </label>
                <input type="text" id="titre" th:field="*{titre}" required maxlength="50">
                <ul style="color:red">
                    <li th:each="erreur: ${#fields.errors('titre')}" th:text="${erreur}"></li>
                </ul>
            </li>

            <li>
                <label for="annee">Annee : </label>
                <input type="number" id="annee" th:field="*{annee}" required xmin="1895"  >
                <ul style="color:red">
                    <li th:each="erreur: ${#fields.errors('annee')}" th:text="${erreur}"></li>
                </ul>
            </li>
            <li>
                <label for="duree">Duree : </label>
                <input type="number" id="duree" th:field="*{duree}" required xmin="1">
                <ul style="color:red">
                    <li th:each="erreur: ${#fields.errors('duree')}" th:text="${erreur}"></li>
                </ul>
            </li>
            <li>
                <label for="synopsis">Synopsis : </label>
                <textarea  id="synopsis" th:field="*{synopsis}" rows="3" maxlength="500" ></textarea>
                <ul style="color:red">
                    <li th:each="erreur: ${#fields.errors('synopsis')}" th:text="${erreur}"></li>
                </ul>

            </li>


            <li>
                <label for="inputGenre">Genre : </label>
                <select id="inputGenre" th:field="*{genreId}">
                    <option data-th-each="genre : ${@filmService.consulterGenres}" data-th-value="${genre.id}" data-th-text="${genre.titre}"></option>
                </select>
                <ul style="color:red">
                    <li th:each="erreur: ${#fields.errors('genreId')}" th:text="${erreur}"></li>
                </ul>
            </li>

            <li>
                <label for="realisateur">Realisateur : </label>
                <select id="realisateur" th:field="*{realisateurId}" size="10">
                    <option data-th-each="realisateur : ${@filmService.consulterParticipants()}" data-th-value="${realisateur.id}" data-th-text="${realisateur?.nom + ' ' + realisateur?.prenom }"></option>
                </select>
                <ul style="color:red">
                    <li th:each="erreur: ${#fields.errors('realisateurId')}" th:text="${erreur}"></li>
                </ul>
            </li>

            <li>
                <label for="acteurs">Acteurs : </label>
                <select id="acteurs" th:field="*{acteursIds}" multiple size="15">
                    <option data-th-each="acteur : ${@filmService.consulterParticipants()}" data-th-value="${acteur.id}" data-th-text="${acteur?.nom + ' ' + acteur?.prenom }"></option>
                </select>
                <ul style="color:red">
                    <li th:each="erreur: ${#fields.errors('acteursIds')}" th:text="${erreur}"></li>
                </ul>
            </li>

            <li >
            <button type="submit">Ajouter</button>
        </li>
        </ul>
    </form>
    </th:block>
</main>

</body>
</html>
